.jumbotron{
	background-color: rgba(0,81,99,0.8);
	border-bottom: 5px solid rgba(0,81,99,1);
	margin-bottom: 0px;
}
h4{
	font-weight: bold;
	font-style: italic;
	font-size: 40;
	color: rgb(48,0,2);
}
.back{
	background-color: #bbb;
	position: relative;
	padding-top: 40px;
}
.img{
	border: 5px solid rgb(0,81,99);
}
caption{
	color: rgb(96,0,4);
	text-decoration: underline;
	font-weight: bold;
}
table{
	position: relative;
	left: 40px;
	margin: 16px;
	background-color: rgba(63,128,152,0.35);
}
th{
    margin-bottom: 10px;
    font-size: 20px;
}